.movie-card {

    background: rgb(143, 229, 237);
    width: 150px;
    height: 300px;
    margin: 10px;

    //margin: 30px 0 0 10px;

    display: flex;
    flex-direction: column;
    
}

@media screen and (max-width: 809px) {
    .movie-card {
      width: 26%;
      height: 52%;
    }
  }

  @media screen and (max-width: 749px) {
    .movie-card {
      width: 36%;
      height: 72%;
    }
  }

  @media screen and (max-width: 424px) {
    .movie-card {
      width: 88%;
    }
  }
