<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required #email="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && email.invalid">
          email is required!
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors?.['required']">Password is required</div>
          <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>

        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Login
        </button>
        <p>Don't have an account yet?<a routerLink="/register">Register here</a></p>
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ username }}. <br>
      Roles: {{ roles }}. <br>
      <button type="button" (click)="logout();">Log out</button>
    </div>
  </div>
</div>


<!--
<form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>

    <mat-form-field class="login-email" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" required>
    </mat-form-field>

    <mat-form-field class="login-password" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" required>
    </mat-form-field>

    <button type="submit" class="login-button">Login</button>
</form>
-->