<div *ngIf="(movie$ | async) as movie; else movie_not_found">
    <mat-card class="movie-card-large">
        <mat-card-title class="movie-title">{{movie.title}}</mat-card-title>
        <mat-card-title class="movie-rating">{{movie.rating}}</mat-card-title>
        <mat-card-title class="movie-ratedCount">{{movie.ratedCount}}</mat-card-title>
        <mat-card-title class="movie-year">{{movie.year}}</mat-card-title>
        <img mat-card-image class="movie-poster"
            src="https://m.media-amazon.com/images/M/MV5BZDA0OGQxNTItMDZkMC00N2UyLTg3MzMtYTJmNjg3Nzk5MzRiXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_.jpg">
        <mat-card-content class="movie-description">{{movie.description}}</mat-card-content>
    </mat-card>

    <h1> Individuals </h1>

    <div *ngIf="(individuals$ | async) as individuals">
        <app-individuals [individuals]="individuals"></app-individuals>
    </div>

    <h1> Leave a review </h1>

    <app-review-form (submitEmitter)="onReviewSubmit($event)"  [movieId]="id"></app-review-form>

    <div class="alert alert-danger" role="alert" *ngIf="reviewExists">
        Cannot leave review: {{ errorMessageReview }}
    </div>


    <h1> Reviews </h1>

    <div *ngIf="(reviews$ | async) as reviews">
        <div *ngIf="reviews.length != 0; else no_reviews">
            <app-reviews [reviews]="reviews" (deleteEmitter)="onReviewDelete($event)"></app-reviews>
        </div>
        <ng-template #no_reviews>
            No reviews.
        </ng-template>
    </div>

</div>

<ng-template #movie_not_found>
    Movie not found.
</ng-template>
